.tb {
  font-family: var(--mono);
  font-size: 11px;
  background: var(--white);
  border: 1.5px solid var(--black);
  padding: 2px 8px;
  cursor: pointer;
  text-decoration: none;
  color: var(--black);
  display: inline-block;
  transition: background 0.1s;
}

.tb:hover,
.tb.on {
  background: var(--orange);
  color: var(--white);
  border-color: var(--orange);
}

.tb.red {
  color: var(--orange);
  border-color: var(--orange);
}

.tb.red:hover {
  background: var(--orange);
  color: var(--white);
}
