.cta {
  font-family: var(--vt);
  font-size: 12px;
  background: var(--white);
  border: 1.5px solid var(--black);
  padding: 2px 5px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  border-bottom: none;
}

.cta:last-child {
  border-bottom: 1.5px solid var(--black);
}

.cta:hover {
  background: var(--lime);
}

.cta.p:hover {
  background: var(--pink);
  color: var(--white);
}

.cta.p {
  color: var(--pink);
  border-color: var(--pink);
  border-bottom: none;
}

.cta.p:last-child {
  border-bottom: 1.5px solid var(--pink);
}
