.tag {
  font-family: var(--vt);
  font-size: 11px;
  padding: 1px 6px;
  border: 1.5px solid var(--black);
}

.tag.l {
  background: var(--lime);
  color: var(--black);
}

.tag.g {
  background: var(--dark-green);
  color: var(--lime);
}

.tag.p {
  background: var(--pink);
  color: var(--white);
}

.tag.o {
  background: var(--orange);
  color: var(--white);
}
