.ann {
  font-family: var(--mono);
  font-size: 10px;
  color: var(--black);
  padding: 2px 5px;
  line-height: 1.7;
  background: var(--white);
}

.ann .red,
.ann .grn,
.ann .lim {
  color: var(--orange);
}
