.ticker {
  background: var(--light-grey);
  color: var(--forest);
  font-family: var(--mono);
  font-size: 20px;
  padding: 2px 8px;
  overflow: hidden;
  white-space: nowrap;
  border-bottom: 2px solid var(--forest);
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticker-inner {
  display: inline-block;
  animation: tick 40s linear infinite;
}

@keyframes tick {
  from {
    transform: translateX(700px);
  }
  to {
    transform: translateX(-100%);
  }
}
