.intro {
  text-align: center;
  margin-top: 120px;
}

.description {
  display: block;
  max-width: 620px;
  margin: 32px auto 0;
}

.illustration {
  margin: 56px auto 0;
}

@media (max-width: 640px) {
  .intro {
    margin-top: 130px;
  }

  .description {
    max-width: 100%;
  }

  .illustration {
    margin-top: 32px;
  }
}
