.illustration {
  margin: 0 auto;
}

.heroRow {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  width: fit-content;
  margin: 0 auto;
  transform: translateY(-36px);
}

.tags {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.nav {
  margin-top: 110px;
}
